.common-padding-for-new-complaint-card {
  padding: 0 8px 8px 8px !important;
}

.add-complaint-button-cont {
  z-index: 1000;
}

.create-comp-csr-cont {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.csr-create-comp-main-screen {
  padding-bottom: 0 !important;
  max-height: calc(100vh - 140px);
}

.fix-for-layout-break {
  margin-bottom: 10px;
  position: relative;
}
.testing {
  label: {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  .imageMap{overflow: scroll; width: 100%;}
    .bookingTopSec{margin-top:50px;}
    .responsive-action-button{margin-bottom: 10px;}
    .locality, .bookingType{width:100%;}
    .calendar-wrapper{display: block !important;}
    .DayPicker-Month{flex: 0 0 100% !important;}
    .calendar-section, .calendar-info{width: 90% !important;}
  }