// .timeContainer {
//     /* text-align: center; */
//     width: 100%;
//     display:inline;
//     padding: 5px;
//     color: #004853;
//     font-family: Verdana, sans-serif, Arial;
//     font-size: 40px;
//     font-weight: bold;
//     text-decoration: none;
// }

// .displayTime {
//   padding: 25px;
//   text-align: center;
// }


  
  #countdown {
    position: relative;
    margin: auto;
    margin-top: 100px;
    height: 40px;
    width: 40px;
    text-align: center;
  }
  
  #countdown-number {
    color: black;
    display: inline-block;
    line-height: 40px;
  }
  
  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: black;
    fill: none;
    animation: countdown 160s linear infinite forwards;
  }
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }