.columnToggleBtn {
  margin-left: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #333333;
  background-color: white;
  border-color: #cccccc;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px; }

.columnToggle-Text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #333333;
  background-color: white;
  border-color: #cccccc;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid white;
  border-radius: 4px; }

.tableFeature {
  position: relative;
  margin-left: 60%;
  margin-bottom: 10px;
  margin-top: 10px; }

.tableContainer {
  width: 50%;
  position: inherit;
  border: ridge; }

.halfGraph {
  width: 50%;
  border-style: ridge; }

.dashboardContainer {
  display: flex; }

.tableHeader {
  width: 100%;
  font-size: 22px;
  text-align: center;
  border: 1px solid; }

.rt-thead.-header {
  display: none; }

.rt-tbody {
  text-align: center; }

@media only screen and (max-width: 1000px) {
  .dashboardContainer {
    display: block; }
  .tableContainer {
    width: 100%;
    border: ridge; }
  .halfGraph {
    width: 100%;
    border-style: ridge; } }
