div#material-ui-form {
  overflow: visible !important; }

div#material-ui-ServiceRequestFilterFormForEmployee {
  overflow: visible !important; }

div#material-ui-cardContent {
  width: 100%;
  display: flex; }

div#custom-containers-local-buisnessService {
  width: 350px;
  position: absolute; }

div#custom-containers-local-buisnessService2 {
  width: 350px;
  margin-left: 50px;
  position: absolute; }

@media only screen and (max-width: 1100px) {
  .ack-body, .ack-tail {
    display: contents;
    text-align: center !important; }
  .apply-wizard-footer button {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%; }
  div#custom-atoms-footer {
    position: absolute; }
	div#custom-containers-local-buisnessService {
		width: 100%;
		margin-left: 0 !important;
		position: inherit;
	}
	div#material-ui-cardContent {
		width: 200%;
		display: block;
	}
	div#custom-containers-local-buisnessService2 {
		width: 100%;
		margin-left: 0px;
		display: inherit;
	}
	button#material-ui-searchBTN {
		width: 150px;
		margin-top: 80px;
	}
}