@media only screen and (max-width: 551px) {
    
    .innerDiv {
     
      min-width: 100% !important;
    }
  
     .outerDiv {
      min-width: 100% !important;
     
    }
  }
  .applicant-details-error{p{
    font-size: 14px;
  }}
  #custom-containers-propertyMohalla{div{p{
    font-size: 14px;
  }}}
  #custom-containers-key{
  word-break: break-all !important;
  }
  .MuiTypography-body2-204 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 19px;
  letter-spacing: 0.67px;
  word-break: break-all !important;
  }